
.footer{
    background: #141414;
    color: white;
    font-size: 14px;
    height: 14em;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 1em;
    margin-top: 6rem;
}